.pnpm-store
**/node_modules
**/dist
**/lib
**/lib-commonjs
**/temp
**/release
*.tsbuildinfo
.idea
_tmp_*
.turbo
.eslintcache
.pnpm-debug.log
.rollup.cache
.nx
coverage
*/*/sharepoint/stats/*
.env.secrets
vite.config.ts.timestamp-*.*
tsup.config.bundled*

*.css.ts
*.scss.ts
*.sass.ts